
body {
    font-family: 'Roboto', sans-serif;
  }

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout .sidebar {
    width: 30%;

    flex:1;
    border-right: 1px solid #ddd;
    background-color: #1E201E;
}


.layout .sidebar h1 {
margin: 0;
color:#ddd;
}



.sidebar ul {
list-style-type: none; 
}


.sidebar a {
text-decoration: none; 
color: #ddd; 
display: block; 
padding: 10px; 
}

.sidebar a:hover {
background-color: #ddd; /* Change background on hover */
}

.main {
flex: 3; 
display: flex;
flex-direction: column;
gap:10px
}
.header {
display: flex;
align-items: center; /* Vertically center-aligns content */
justify-content: space-between;
padding: 25px;
border-bottom: 1px solid #ddd;
margin: 0px;
}

.content-container {
    background-color: #F5F7F8;
    height: 100%;
}

.header h1 {
margin: 0;
}